body{
    margin:0;
    text-align:center;
    font-family:sans-serif;
    background:#87ceeb;
}

#track{
    position:relative;
    height:220px;
    overflow:hidden;
    border-top:5px solid #333;
    border-bottom:5px solid #333;
    background:url('./assets/forest.png') repeat-x;
    background-size:cover;
    animation:moveBg 8s linear infinite;
}

@keyframes moveBg{
    from{background-position:0 0;}
    to{background-position:-1000px 0;}
}

#hare,#tortoise{
    position:absolute;
    font-size:45px;
    transition:left .15s linear;
}

#hare{top:40px;left:0;}
#tortoise{top:120px;left:0;}

#finish{
    position:absolute;
    right:10px;
    top:60px;
    height:100px;
}

button{
    width:85%;
    padding:18px;
    margin:8px;
    font-size:20px;
    border-radius:12px;
}

#energyBar{
    width:90%;
    height:15px;
    background:#ddd;
    margin:auto;
    border-radius:10px;
}

#energy{
    height:100%;
    width:100%;
    background:green;
    border-radius:10px;
}
